.service {
  margin: 50px 60px;
  display: flex;
  gap: 60px;
  flex-direction: column;
}

.service-title {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
}

.service-title-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.service-description {
  line-height: 25px;
}

.service-answer {
  font-size: 32px;
  font-weight: 500;
}

.service-gallery {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 430px) {
  .service {
    margin: 0px;
    padding: 0px 60px;
  }
  .service-title {
    display: flex;
    flex-direction: column;
  }
  .service-gallery {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}
