* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main-flex-container {
  display: flex;
  flex-direction: column;
}

.topper {
  min-height: 100vh;
  background-image: url("/public/images/cover.jpg");
  background-size: cover;
  background-position: center;
}

.middle {
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}
@media (max-width: 430px) {
}
